<div class="container">
    <h1 class="display-1 fw-bolder mt-2">STAY HOME, STAY SAFE</h1>
    <span class="display-1 text-danger"><i class="fas fa-x fa-hand-holding-heart"></i></span>
    
            
    <h5 class="display-5 mt-2">SUPPORT AKSHAYA PATRA'S COVID-19 RELIEF SERVICE</h5>
    <p class="text-secondary mt-2">
        Donate for poor people. During this COVID crisis, donate online to support the needy people with cocked meals. Types: Anganwadi Feeding Program, Empower Tribal Children, Donate Meal Plates.
    </p>
    <a href="https://www.akshayapatra.org/covid-relief-services" class="btn btn-outline-primary rounded-pill shadow" role="button" aria-pressed="true"><i class="fa fa-hand-holding-heart" aria-hidden="true"></i> Donate Now</a>
</div>
    