<div class="container">
    <h1 class="text-secondary special-text">PRECAUTIONS TO BE TAKEN FOR COVID19</h1>
    <h3 class="display-5 text-transparent">Do's and <br>Dont's</h3>
    <img class="image" src="../../../assets/images/handwash.png" alt="handwash" height="200px" width="250px">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-3 me-2 w-100">
                <div class="card-header">
                    <h5 class="text-secondary fw-bold mb-0 mt-2">Do's <i class="fas fa-check rounded-circle"></i></h5>
                </div>
                <div class="card-body rounded-3 text-secondary pb-1">
                    <p>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</p>
                    <p>Maintain a safe distance from anyone who is coughing or sneezing.</p>
                    <p>Wear a mask when physical distancing is not possible.</p>
                    <p>Don’t touch your eyes, nose or mouth.</p>
                    <p>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 me-2 w-100">
                <div class="card-header">
                    <div class="mt-1"></div>
                    <h5 class="text-secondary fw-bold mt-2 mb-0">Dont's <img src="../../../assets/images/dont.png" width="30px" height="30px"> </h5>
                </div>
                <div class="card-body rounded-3 text-secondary">
                    <p>Avoid Touching Your Face</p>
                    <p>Avoid Assuming That You are Immune to COVID-19</p>
                    <p>Don’t Skip Disinfection of the House</p>
                    <p>Don’t Ignore Government-issued Advice</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="text-secondary fw-bold mb-0 mt-2">Symptoms</h5>
        </div>
        <div class="card-body text-secondary">
          <p>COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization.</p>
          <div class="row">
              <div class="col-md-4">
                <p class="text-danger">Most common symptoms: </p>
                <ul>
                  <li>fever</li>
                  <li>dry cough</li>
                  <li>tiredness</li>
                </ul>
              </div>
              <div class="col-md-4">
                  <p class="text-danger">Less common symptoms: </p>
                  <ul>
                      <li>aches and pains</li>
                      <li>sore throat</li>
                      <li>diarrhoea</li>
                      <li>conjunctivitis, headache</li>
                  </ul>
              </div>
              <div class="col-md-4">
                  <p class="text-danger">Serious symptoms: </p>
                  <ul>
                      <li>difficulty breathing or shortness of breath</li>
                      <li>chest pain or pressure</li>
                      <li>loss of speech or movement</li>
                  </ul>
              </div>
          </div>
          <p>There is no specific medicine to prevent or treat coronavirus disease (COVID-19). People may need supportive care to help them breathe. If you have mild symptoms, stay at home until you’ve recovered.</p>
          <p>Stay home and self-isolate even if you have minor symptoms such as cough, headache, mild fever, until you recover. Call your health care provider or hotline for advice. Have someone bring you supplies. If you need to leave your house or have someone near you, wear a medical mask to avoid infecting others.</p>
          <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/question-and-answers-hub/q-a-detail/coronavirus-disease-covid-19#:~:text=symptoms" class="btn btn-outline-primary" role="button" aria-pressed="true"><i class="fa fa-search" aria-hidden="true"></i> Know More</a>
        </div>
      </div>
</div>