.navbar-nav {
    margin-top: 0px;
    flex-direction: row;
    font-size: 15px;
    background-color: #fff;
    height: 35px;
    .nav-link {
        flex-direction: row;
        text-decoration: none;
        margin: 0px;
    }
    .nav-link a {
        color: #000;
        text-decoration: none;
        padding: 10px 13px;
        margin-bottom: 0px;
        &:hover {
            background-color: powderblue;
        }
    }
    .active {
        background-color: powderblue;
    }
}